<div class="container">


  <h1 class="page-header">
    Edit Blog
  </h1>

  <div class="row hide-show-message" *ngIf="message">
    <div [ngClass]="messageClass">
      {{message}}
    </div>
  </div>


  <form  (submit)="updateBlogFormSubmit()" *ngIf="loading">

    <div class="form-group">
      <label for="title">Title</label>
      <input [disabled]="processing" type="text" name="title" id="title" class="form-control" [(ngModel)]="blog.title" >
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea [disabled]="processing" name="body" id="body" cols="30" rows="10" class="form-control" [(ngModel)]="blog.body"></textarea>
    </div>
    <button [disabled]="processing" (click)="deleteBlogPost()" type="button" class="btn btn-danger" >Delete</button>
    <button [disabled]="processing" type="button" class="btn btn-warning" (click)="goBack()" >Back</button>
    <button [disabled]="processing" type="submit" class="btn btn-success" >Update</button>


  </form>

</div>
